#skills{
  display:grid;
  font-family: var(--font);
  align-items: start;
  padding-top: 5rem;
}
#skills>h2{
  text-align: center;
  color: var(--pink);
}
#skills-container{
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
  transition: .4s linear;
}
#skills-container>div{
  place-content: center;
  text-align: center;
  background-color: #16141587;
  box-shadow: 0 0 1px white;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding:1rem;
  transition: .4s;
}
#skills-container>div h2{
  font-size: 1.1rem;
  padding-top: 1rem;
}
#skills-container>div i{
  font-size: 6rem;
}
#skills-container>div:hover{
  background-color:#ee23568e ; 
}
@media screen and (max-width:1024px) {
  #skills-container{
    grid-template-columns: repeat(3,1fr);
  }
  #skills-container>div h2{
    font-size: 1rem;
    padding-top: 1rem;
  }
  #skills-container>div i{
    font-size: 4rem;
  }
}
@media screen and (max-width:640px) {
  #skills{
    padding-top: 4rem;
    height: min-content;
  }
  #skills-container{
    grid-template-columns: repeat(3,1fr);
    gap: .5rem;
  }
  #skills-container>div{
    height: 9rem;
  }
  #skills-container>div h2{
    font-size: .8rem;
    padding-top: .3rem;
  }
  #skills-container>div i{
    font-size: 3rem;
  }
  #skills>h2{
    font-size: 1.2rem;
  }
  #skills-container{
    padding: 3rem 0;
  }
}